# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# PyCharm / IntelliJ
.idea/

# MacOS metadata
.DS_Store

# Log files
*.log

# System-specific
Thumbs.db
