# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# Database files (if using SQLite)
db.sqlite3

# IDE/project files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
